<div id="card">
    <div id="inside">
        <header>
            <div class="left">
                <div id="name">{{shadow.name}}</div>
            </div>
            <div class="right">
                <div id="hp"> {{shadow.hp}} HP</div>
            </div>
        </header>
        <figure id="shadow">
            <img [src]=shadow.img [alt]=shadow.name>
            <figcaption>RanK : {{shadow.rank}} </figcaption>
            <div id="capacities">
                <div class="capacity">
                    <div class="main">
                       <div class="icon">
                        <div class="cost">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" className="size-5">
                                <path d="M11.983 1.907a.75.75 0 0 0-1.292-.657l-8.5 9.5A.75.75 0 0 0 2.75 12h6.572l-1.305 6.093a.75.75 0 0 0 1.292.657l8.5-9.5A.75.75 0 0 0 17.25 8h-6.572l1.305-6.093Z" />
                            </svg>
                        </div>
                        <div class="cost">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" className="size-5">
                                <path d="M11.983 1.907a.75.75 0 0 0-1.292-.657l-8.5 9.5A.75.75 0 0 0 2.75 12h6.572l-1.305 6.093a.75.75 0 0 0 1.292.657l8.5-9.5A.75.75 0 0 0 17.25 8h-6.572l1.305-6.093Z" />
                            </svg>
                        </div>
                       </div>
                        <div class="name">{{shadow.name}}</div>
                        <div class="power">{{shadow.power}}</div>
                    </div>
                    <div class="descritpion">
                        {{shadow.description}}
                    </div>
                </div>
            </div>
        </figure>
    </div>
</div>
